<div class="card">
    <div class="card-body">
        <img src="https://via.placeholder.com/150" />
        <div class="text">
            <h4 class="card-title"><a href="{{link}}">{{title}}</a></h4>
            <p class="card-text">{{date}}</p>
            <p class="card-text">{{author}}</p>
        </div>
    </div>
</div>