<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Scraper Articles</title>
  <meta name="description" content="Articles from the Interwebs">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <link rel="stylesheet" href="art-style.css">
</head>

<body>
  {{body}}
  <script src="app.js"></script>
</body>

</html>