<div class="jumbotron jumbotron-fluid">
    <h1>Article Scraper</h1>
</div>
<div class="container">
    {{!-- onion scrape --}}
    <div class="sort">
        <button type="button" class="btn btn-info" id="scrape-beauty">
            Scrape New Beauty Articles
        </button><button type="button" class="btn btn-info" id="scrape-onion">
            Scrape New Onion Articles
        </button>
    </div>
</div>