<div class="jumbotron jumbotron-fluid beauty">
    <h1>KBlog Article Scraper</h1>
</div>
<div class="container">
    {{!-- beauty scrape --}}
    <div class="sort">
        {{!-- <button type="button" class="btn btn-info" id="by-date">By Date</button>
            <button type="button" class="btn btn-info" id="by-author">
                By Author
            </button> --}}
        <button type="button" class="btn btn-info" id="scrape-beauty">
            Scrape New Beauty Articles
        </button>
    </div>

    <div class="grid-container">
        {{#each blogPost}}
        <div class="card">
            <div class="card-body">
                <div class="text">
                    <h4 class="card-title"><a href="{{link}}">{{title}}</a></h4>
                    <p class="card-text">{{date}}</p>
                    <p class="card-text">{{author}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>